<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ward information</h1>
<h2 th:text="${ward.name}"></h2>

<form action="#" th:action="@{/ward/editWard}" th:object="${ward}" method="post">
    <input name="id" type="hidden" th:value="*{id}">
    <br> Name <br>
    <input type="text" name="name" th:field="*{name}">
    <br> Max count <br>
    <input type="text" name="name" th:field="*{maxCount}">
    <br> Diagnosis id <br>
    <input type="text" name="name" th:field="*{diagnosisId}">
    <button type="submit" name="action" value="edit">Save</button>
    <br>
    <button type="submit" name="action" value="delete">Delete</button>
</form>
</body>
</html>